    <div
      id="shopify-section-d6351d8b-d2c3-4ad8-8d79-e6c7fd3fea0a"
      class="shopify-section index-section"
    >
      <div class="page-width feature-row">
        <div class="feature-row">
          <div class="feature-row__item">
            <style>
              #FeatureRowImage-d6351d8b-d2c3-4ad8-8d79-e6c7fd3fea0a {
                max-width: 644.731977818854px;
                max-height: 545px;
              }

              #FeatureRowImageWrapper-d6351d8b-d2c3-4ad8-8d79-e6c7fd3fea0a {
                max-width: 644.731977818854px;
              }
            </style>

            <div
              id="FeatureRowImageWrapper-d6351d8b-d2c3-4ad8-8d79-e6c7fd3fea0a"
              class="feature-row__image-wrapper js"
            >
              <div style="padding-top: 84.53124999999999%">
                <img
                  id="FeatureRowImage-d6351d8b-d2c3-4ad8-8d79-e6c7fd3fea0a"
                  class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="1.1829944547134936"
                  data-sizes="auto"
                  alt=""
                  data-srcset="//cdn.shopify.com/s/files/1/0666/0682/5688/files/1_180x.jpg?v=1667744246 180w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_360x.jpg?v=1667744246 360w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_540x.jpg?v=1667744246 540w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_720x.jpg?v=1667744246 720w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_900x.jpg?v=1667744246 900w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1080x.jpg?v=1667744246 1080w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1296x.jpg?v=1667744246 1296w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1512x.jpg?v=1667744246 1512w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1728x.jpg?v=1667744246 1728w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_2048x.jpg?v=1667744246 2048w"
                  sizes="545px"
                  srcset="
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_180x.jpg?v=1667744246   180w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_360x.jpg?v=1667744246   360w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_540x.jpg?v=1667744246   540w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_720x.jpg?v=1667744246   720w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_900x.jpg?v=1667744246   900w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1080x.jpg?v=1667744246 1080w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1296x.jpg?v=1667744246 1296w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1512x.jpg?v=1667744246 1512w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_1728x.jpg?v=1667744246 1728w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/1_2048x.jpg?v=1667744246 2048w
                  "
                />
              </div>
            </div>

            <noscript>
              <img
                src="//cdn.shopify.com/s/files/1/0666/0682/5688/files/1_600x600@2x.jpg?v=1667744246"
                class="feature-row__image"
              />
            </noscript>
          </div>

          <div
            class="feature-row__item feature-row__text feature-row__text--left"
          >
            <h2 class="h3">Meeting at Work</h2>

            <div class="rte rte-setting featured-row__subtext">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="shopify-section-732f9c43-a9ac-4703-ac9d-0d4f60127ee6"
      class="shopify-section index-section"
    >
      <div class="page-width feature-row">
        <div class="feature-row">
          <div
            class="feature-row__item feature-row__text feature-row__text--right"
          >
            <h2 class="h3">Made a Plan</h2>

            <div class="rte rte-setting featured-row__subtext">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>

          <div class="feature-row__item">
            <style>
              #FeatureRowImage-732f9c43-a9ac-4703-ac9d-0d4f60127ee6 {
                max-width: 644.731977818854px;
                max-height: 545px;
              }

              #FeatureRowImageWrapper-732f9c43-a9ac-4703-ac9d-0d4f60127ee6 {
                max-width: 644.731977818854px;
              }
            </style>

            <div
              id="FeatureRowImageWrapper-732f9c43-a9ac-4703-ac9d-0d4f60127ee6"
              class="feature-row__image-wrapper js"
            >
              <div style="padding-top: 84.53124999999999%">
                <img
                  id="FeatureRowImage-732f9c43-a9ac-4703-ac9d-0d4f60127ee6"
                  class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="1.1829944547134936"
                  data-sizes="auto"
                  alt=""
                  data-srcset="//cdn.shopify.com/s/files/1/0666/0682/5688/files/2_180x.jpg?v=1667744242 180w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_360x.jpg?v=1667744242 360w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_540x.jpg?v=1667744242 540w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_720x.jpg?v=1667744242 720w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_900x.jpg?v=1667744242 900w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1080x.jpg?v=1667744242 1080w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1296x.jpg?v=1667744242 1296w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1512x.jpg?v=1667744242 1512w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1728x.jpg?v=1667744242 1728w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_2048x.jpg?v=1667744242 2048w"
                  sizes="545px"
                  srcset="
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_180x.jpg?v=1667744242   180w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_360x.jpg?v=1667744242   360w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_540x.jpg?v=1667744242   540w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_720x.jpg?v=1667744242   720w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_900x.jpg?v=1667744242   900w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1080x.jpg?v=1667744242 1080w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1296x.jpg?v=1667744242 1296w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1512x.jpg?v=1667744242 1512w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_1728x.jpg?v=1667744242 1728w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/2_2048x.jpg?v=1667744242 2048w
                  "
                />
              </div>
            </div>

            <noscript>
              <img
                src="//cdn.shopify.com/s/files/1/0666/0682/5688/files/2_600x600@2x.jpg?v=1667744242"
                class="feature-row__image"
              />
            </noscript>
          </div>
        </div>
      </div>
    </div>
    <div
      id="shopify-section-99a29aa5-913d-4127-9e2e-848121f01bb7"
      class="shopify-section index-section"
    >
      <div class="page-width feature-row">
        <div class="feature-row">
          <div class="feature-row__item">
            <style>
              #FeatureRowImage-99a29aa5-913d-4127-9e2e-848121f01bb7 {
                max-width: 645.9259259259259px;
                max-height: 545px;
              }

              #FeatureRowImageWrapper-99a29aa5-913d-4127-9e2e-848121f01bb7 {
                max-width: 645.9259259259259px;
              }
            </style>

            <div
              id="FeatureRowImageWrapper-99a29aa5-913d-4127-9e2e-848121f01bb7"
              class="feature-row__image-wrapper js"
            >
              <div style="padding-top: 84.37500000000001%">
                <img
                  id="FeatureRowImage-99a29aa5-913d-4127-9e2e-848121f01bb7"
                  class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="1.1851851851851851"
                  data-sizes="auto"
                  alt=""
                  data-srcset="//cdn.shopify.com/s/files/1/0666/0682/5688/files/3_180x.jpg?v=1667744242 180w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_360x.jpg?v=1667744242 360w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_540x.jpg?v=1667744242 540w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_720x.jpg?v=1667744242 720w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_900x.jpg?v=1667744242 900w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1080x.jpg?v=1667744242 1080w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1296x.jpg?v=1667744242 1296w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1512x.jpg?v=1667744242 1512w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1728x.jpg?v=1667744242 1728w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_2048x.jpg?v=1667744242 2048w"
                  sizes="545px"
                  srcset="
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_180x.jpg?v=1667744242   180w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_360x.jpg?v=1667744242   360w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_540x.jpg?v=1667744242   540w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_720x.jpg?v=1667744242   720w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_900x.jpg?v=1667744242   900w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1080x.jpg?v=1667744242 1080w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1296x.jpg?v=1667744242 1296w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1512x.jpg?v=1667744242 1512w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_1728x.jpg?v=1667744242 1728w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/3_2048x.jpg?v=1667744242 2048w
                  "
                />
              </div>
            </div>

            <noscript>
              <img
                src="//cdn.shopify.com/s/files/1/0666/0682/5688/files/3_600x600@2x.jpg?v=1667744242"
                class="feature-row__image"
              />
            </noscript>
          </div>

          <div
            class="feature-row__item feature-row__text feature-row__text--left"
          >
            <h2 class="h3">Lots of Hours</h2>

            <div class="rte rte-setting featured-row__subtext">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="shopify-section-23b6dc6b-e754-46d7-8c47-2383570077c5"
      class="shopify-section index-section"
    >
      <div class="page-width feature-row">
        <div class="feature-row">
          <div
            class="feature-row__item feature-row__text feature-row__text--right"
          >
            <h2 class="h3">Going Forward</h2>

            <div class="rte rte-setting featured-row__subtext">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>

          <div class="feature-row__item">
            <style>
              #FeatureRowImage-23b6dc6b-e754-46d7-8c47-2383570077c5 {
                max-width: 584.3204697986578px;
                max-height: 545px;
              }

              #FeatureRowImageWrapper-23b6dc6b-e754-46d7-8c47-2383570077c5 {
                max-width: 584.3204697986578px;
              }
            </style>

            <div
              id="FeatureRowImageWrapper-23b6dc6b-e754-46d7-8c47-2383570077c5"
              class="feature-row__image-wrapper js"
            >
              <div style="padding-top: 93.27073552425665%">
                <img
                  id="FeatureRowImage-23b6dc6b-e754-46d7-8c47-2383570077c5"
                  class="feature-row__image lazyautosizes lazyloaded"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="1.0721476510067114"
                  data-sizes="auto"
                  alt=""
                  data-srcset="//cdn.shopify.com/s/files/1/0666/0682/5688/files/4_180x.jpg?v=1667744243 180w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_360x.jpg?v=1667744243 360w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_540x.jpg?v=1667744243 540w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_720x.jpg?v=1667744243 720w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_900x.jpg?v=1667744243 900w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1080x.jpg?v=1667744243 1080w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1296x.jpg?v=1667744243 1296w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1512x.jpg?v=1667744243 1512w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1728x.jpg?v=1667744243 1728w, //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_2048x.jpg?v=1667744243 2048w"
                  sizes="545px"
                  srcset="
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_180x.jpg?v=1667744243   180w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_360x.jpg?v=1667744243   360w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_540x.jpg?v=1667744243   540w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_720x.jpg?v=1667744243   720w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_900x.jpg?v=1667744243   900w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1080x.jpg?v=1667744243 1080w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1296x.jpg?v=1667744243 1296w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1512x.jpg?v=1667744243 1512w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_1728x.jpg?v=1667744243 1728w,
                    //cdn.shopify.com/s/files/1/0666/0682/5688/files/4_2048x.jpg?v=1667744243 2048w
                  "
                />
              </div>
            </div>

            <noscript>
              <img
                src="//cdn.shopify.com/s/files/1/0666/0682/5688/files/4_600x600@2x.jpg?v=1667744243"
                class="feature-row__image"
              />
            </noscript>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    